.footerProjetos {
  margin-top: -18rem;
  margin-bottom: 2rem;
}



@media (max-height: 900px) {
  .footerProjetos {
    margin-top: -10rem;
  }
}


@media (max-width: 768px) {
  .footerProjetos {
    margin-top: -12rem;
    margin-bottom: 2rem;
  }
}