.icons {
  margin-right: 0.5rem;
}

.icons a {
  color: var(--white);
}

.icons a:hover {
  color: var(--green-100);
}

.iconSun  {
  color: rgb(244, 204, 7);
  cursor: pointer; 
}

.moon {
  color: rgb(0, 0, 0);
}