.body {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleAndSubtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5rem;
}

.info p {
  font-weight: 300;
}