.body {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleAndSubtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 1.5rem;
}

.info p {
  font-weight: 300;
}

@media (max-width: 768px) {
  .body {
    margin-top: 8rem;
  }

  .title {
    text-align: center;
  }

  .linhaVertical {
    display: none;
  }

  .titleAndSubtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .info p {
    margin-top: 0rem;
  }

  .contatoFooter {
    margin-top: -4rem;
  }
}
