:root {
  --white: #fff;

  --black-100: #191522;

  --green-100: #70b966;
  --green-200: #6cb264;

  --gray--100: #8C8C8C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-100);
  color: var(--white);
}

body, input, textarea, button { /*Elementos que não herdam a fonte do body*/
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #232129;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #191522;    /* color of the scroll thumb */
  border-radius: 12px;
  border: 3px solid #232129;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}

body {
  overflow-y: scroll;
}

