.hardskills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  flex-wrap: wrap;
}

.hardskills > h2{
  font-size: 1.5rem;
  font-weight: 300;
  font-family: monospace;
}

.hardskills ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2rem;
}

.hardskills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  list-style-type: none;
  border: 1px solid var(--green-100);
  border-radius: 12px;
  width: 150px;
  height: 150px;

  transition: transform 0.3s ease-in-out;

}

.hardskills li:hover {
    transform: scale(1.1);
}

.hardskills svg {
  font-size: 3rem;
}

.hardskills ul h3 {
  font-size: 1rem;
  margin: 1.5rem;
}

.skillsExtras {
  display: flex;
  margin-top: 4rem;
}

.skillsExtras span {
  color: var(--green-100);
}

.skillsExtras p {
  margin-left: 15px;
}