.hardskills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerItens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.itens {
  margin: 1rem;
}

.hardskills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 150px;
  height: 150px;
  border: 1px solid var(--green-100);
  border-radius: 12px;

  transition: transform 0.3s ease-in-out;
}

 .hardskills li:hover {
    transform: scale(1.1);
}


.hardskills > h2{
  font-size: 1.5rem;
  font-weight: 300;
  font-family: monospace;
}

.skillsExtras {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.hardskills svg {
  font-size: 3rem;
}

.hardskills ul h3 {
  font-size: 1rem;
  margin: 1.5rem;
}


li:hover .react { /*Ao passar o mouse em cima do li mudar a cor do svg */
  color: #61DBFB;
}
li:hover .javaScript { 
  color: #F7DF1E;
}
li:hover .typeScript { 
  color: #007ACC;
}
li:hover .html { 
  color: #F25320;
}
li:hover .css { 
  color: #379AD6;
}


.skillsExtras {
  display: flex;
  margin-top: 4rem;
}

.skillsExtras span {
  color: var(--green-100);
}

.skillsExtras p {
  margin-left: 15px;
}

@media (max-width: 768px) {
  .hardskills li {
    width: 120px;
    height: 120px;
  }

  .hardskills {
    margin-top: 4rem;
  }
}