.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project h2 {
  margin: 2rem;
  font-family: monospace;
  font-weight: 300;
}


.project .img img{
  width: 100%;
  height: auto;
}

.technologies {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

 .technologies span {
  color: var(--green-100);
  display: flex;
  gap: 0.55rem;
  line-height: 20px;
}
.technologies span p{
  color: var(--white);
}  

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project .linhaHorizontal {
  display: flex;
  justify-content: center;
}

.linhaHorizontal img {
  width: 100%;
  height: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}