.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.technologies {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.technologies span {
  color: var(--green-100);
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  max-width: 100%;
  height: auto;
}