.body {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.375rem;
}

.body h2 {
  font-size: 1.8rem;
  color: var(--green-100);
  font-weight: 300;
  text-align: end;
}

.body h2 span {
  color: #B5B900;
}

.linha {
  margin-bottom: 2rem;
}