.body {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.375rem;
}

.linha {
  margin-bottom: 2rem;
}


@media (max-width: 768px) {
    .body {
      height: 58vh;
      display: flex;
      justify-content: end;
      flex-direction: column;
    }

    .titleJoao {
      padding: 0 0 3rem 0;
    }

    .linha, .profile {
      display: none;
    }
  }