.body {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.375rem;
}

.body h2 {
  color: var(--green-100);
  font-weight: 300;
  text-align: end;
}



.linha {
  margin-bottom: 2rem;
}