.footer {
  height: 17.2vh;
  display: flex;
  justify-content: center;
  align-items: end;

  color: var(--gray--100);
  font-size: 0.8rem;
}

.footer a {
  text-decoration: none;
  color: var(--gray--100);
}

.footer a:hover {
  color: var(--green-100);
}