.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills h2{
  font-weight: 400;
  font-family: monospace;
}

.skillsIcons img {
  padding: 0.625rem;
  margin-bottom: 3rem;
}

.skillsExtras {
  display: flex;
  margin-bottom: 3rem;
}

.skillsExtras span {
  color: var(--green-100);
}

.softSkills span {
  color: var(--green-100);
}

.skillsExtras p {
  margin-left: 15px;
}

.softSkills {
  text-align: center;
  margin-top: 3rem;
  max-width: 45rem;
}

.softSkills h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
}

.softSkills p {
  text-align: center;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

h2 {
  margin-bottom: 3.5rem;
}
