.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  margin: 4rem auto;
  padding: 0 1rem;
  margin-left: 50px;
}

.icons {
   display: flex;
  justify-content:  flex-end;
}
